:host {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.logo-container {
    margin-top: 20vh;
}

.mb-24 {
    margin-bottom: 57px;
}

.verified-email-msg {
    font-size: 0.85rem;
    font-weight: 500;
    color: white;
}