<div class="supermarket-card">
    <a [href]="data.productUrl">
        <div class="supermarket-card-header">
            <div class="supermarket-card-name">{{data.name}}
            </div>
            <div class="supermarket-card-subtitle">{{data.info}}</div>
        </div>
        <div class="supermarket-card-image">
            <img class="paknsave-image" [src]="data.imageUrl" />
        </div>
    </a>
    <div class="supermarket-card-info">
        <div class="supermarket-card-price">
            <div class="supermarket-card-price-dollar">
                ${{dollars}}
            </div>
            <div class="supermarket-card-price-cent">
                {{cents + '0'.repeat(2 - cents.toString(10).length)}}
            </div>
        </div>
        <div class="supermarket-card-quantity ">
            <input class="supermarket-card-quantity-input" type="number" />
            <div class="supermarket-card-metric">
                {{data.metric}}
            </div>
        </div>
    </div>
    <div class="supermarket-card-select-btn" [class]="isSelected() ? 'selected' : ''" (click)="selectItem()">
        {{isSelected() ? 'UNSELECT' : 'SELECT'}}
    </div>
</div>