:host {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.logo-container {
    margin-top: 20vh;
    cursor: pointer;
}

.column-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}


.email-sent-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 800px;
    gap: 12px;
}

.title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
}

.msg-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtitle {
    font-weight: 500;
}