:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 12px;
    flex-grow: 1;
}

.search-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 8px;
    gap: 8px;
    height: 92px;
    flex-shrink: 0;
}

.search-bar-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.search-bar {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border-radius: 8px;
    border-width: 1px;
    padding-left: 45px;
    box-sizing: border-box;
    gap: 4px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    align-self: center;

}

.search-icon {
    position: absolute;
    left: 12px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    fill: var(--text-color);
}

.supermarket-btn {
    height: 35px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.supermarket-btn-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.search-options-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    box-sizing: border-box;
}

.sort-by-category-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}


.results-container {
    flex-grow: 1;
    /* border-top: 1px solid black; */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

/* .results-container>.supermarket-container:not(:first-child) {
    border-top: 1px solid black;
} */

.supermarket-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border-bottom: 1px solid black; */
}

.results-container:last-child {
    border-bottom: none;
}

.supermarket-name {
    font-size: 1.5rem;
    height: 40px;
    padding-left: 8px;
    flex-direction: column;
    display: flex;
    justify-content: center;

}



.supermarket-results-container {
    /* border-top: 1px solid black; */
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    overflow-x: auto;
}




.enter-query-message {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.setQuantityInputSection {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes spinAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: 2s linear 0s infinite;
    animation-name: spinAnimation;
    height: 5%;
    fill: var(--text-color);
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.search-container-header {
    margin-top: 8px;
    padding-left: 10px;
    width: 100%;
}


@media (max-width: 480px) {

    .search-container,
    .noSelectedGroceryListItem {
        width: 100%;
        display: none;
    }

    .addGroceryListItemFlexContainer,
    #addGroceryListItemModal {
        width: 100%;
        height: 100%;
    }

    .search-options-container {
        flex-direction: column;
        gap: 8px;
    }

    .enter-query-message {
        font-size: 1.5rem;
        text-align: center;
    }

    .search-container {
        gap: 8px;
    }

    .search-section {
        height: auto;
    }

    .mobile-only {
        display: flex;
    }
}