:host {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    flex-shrink: 0;
}

.total-price {
    font-size: 1.5rem;
}

.cog {
    height: 50px;
    cursor: pointer;
    fill: var(--text-color)
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 4px;
}