:host {
    /* border: 1px solid black; */
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 5px;
    position: relative;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.dropdown-options {
    top: 39px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    border: 1px solid var(--primary-color);
    /* background-color: var(--secondary-color); */
    background-color: inherit;
    z-index: 1;
}

.dropdown-options>* {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.selected-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.dropdown-options>*:hover,
.selected {
    background-color: gray;
    color: white;
}