.dropdown {
    border: 1px solid black;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 5px;
    position: relative;
    background-color: white;
}

.dropdown-options {
    top: 39px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    border: 1px solid black;
    background-color: inherit;
}

.dropdown-options>* {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.selected-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background-color: inherit;
}

.dropdown-options>*:hover,
.selected {
    background-color: gray;
    color: white;
}