:host {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    gap: 150px;
    height: 100vh;
    box-sizing: border-box;
}

.welcomeMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 3rem;
    /* margin-left: 12px; */
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.name {
    font-weight: 500;
}

.optionsMenuItem {
    background-color: var(--secondary-color);
}

.optionsMenuItems {
    justify-content: center;
}




@media (max-width: 480px) {
    :host {
        padding-top: 20px;
        gap: 25px;
    }
}